<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Subscribe.Jawwy.utility.ListenerClass"></listener>
	</listeners>
	<test thread-count="1" name="Egypt">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<!-- <class name="Subscribe.Jawwy.testcases.Country_Selector_Test"></class>-->
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="1" name="UAE">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.UAE_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_UAE_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test>
	
	<test thread-count="1" name="Algeria">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.Algeria_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Test_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="1" name="Djibouti">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.Djibouti_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Djibouti_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test>

	<test thread-count="1" name="Chad">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.Chad_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Chad_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test>
	<test thread-count="1" name="Iraq">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.Iraq_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Iraq_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test>
	<test thread-count="1" name="Jordan">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.Jordan_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Jordan_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test>

	<test thread-count="1" name="Lebanon">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.Lebanon_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Lebanon_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test>

	<test thread-count="1" name="Morocco">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.Morocco_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Morocco_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test>

	<test thread-count="1" name="Oman">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.Oman_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Oman_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test>

<test thread-count="1" name="Tunisia">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.Tunisia_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Tunisia_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test>

	<test thread-count="1" name="Yemen">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.Yemen_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Yemen_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test>

	<test thread-count="1" name="Palestine">
		<classes>
			<class name="Subscribe.Jawwy.testcases.OpenURL_Test" />
			<class name="Subscribe.Jawwy.testcases.Palestine_Country_Selector_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Avalaible_Packages_Test"></class>
			<class name="Subscribe.Jawwy.testcases.Validate_Palestine_Country_currency_Price_Test"></class>
			<class name="Subscribe.Jawwy.testcases.CloseURL_Test" />
		</classes>
	</test>
</suite> <!-- Suite -->